# Learn Python and get computers to work!!

How to use this python notebook:
    Play the given below video: resize the window
        now run the jupyter notebook: resize
            (Benefit: you can run the code, while listening the video)
            Run the cells: Shift + Enter (in jupter notebook)
            Enjoy the ride friends :) 
            
Vinod: vinod.bioinfo@gmail.com

Video Source: https://www.youtube.com/watch?v=rfscVS0vtbw
Learn Python - Full Course for Beginners
freeCodeCamp.Org

The classic print : like every other computer-language everyone learnts!!

In [15]:
print("Hello. Mister")
print("     /|")
print("    / |")
print("   /  |")
print("  /   |")

Hello. Mister
     /|
    / |
   /  |
  /   |

The print with the variable name : Time to evolve a bit from the print statement.

In [18]:
character_name="John"
character_age="35"
print("....bla bla "+ character_name +",")
print("...."+character_age+",...bla..bla")


character_name="Mike"
character_age="45"
print("....bla bla "+ character_name +",")
print("...."+character_age+",...bla..bla")

....bla bla John,
....35,...bla..bla
....bla bla Mike,
....45,...bla..bla

# Data Structures

string"s world Amigo

In [28]:
print("Vin's\n World")

Vin's
 World

In [34]:
print("Vin's\" World")

Vin's" World

In [39]:
phrase="Vin "
print(phrase  + "is cool")

Vin is cool

In [45]:
print(phrase.upper().isupper())

True

In [47]:
print(len(phrase))

4

In [50]:
print(phrase[0])
print(phrase[2])

V
n

In [55]:
print(phrase.index("V"))

0

In [59]:
print(phrase.index("n"))

2

In [61]:
print(phrase.replace("n","nod"))

Vinod

Working With Numbers

In [62]:
print(3*4)

12

In [64]:
print(3+5*5)

28

In [66]:
print("% Will give the reminder after the divide term")
print(10%3)

% Will give the reminder after the divide term
1

In [67]:
my_num=5
print(my_num)

5

In [73]:
my_num=5
print(str(my_num) + "my number")

5my number

Function is little collection of the code, that does something

In [76]:
print(pow(3,2)) #power 3 ki 2

9

In [78]:
print(max(4,6)) #finds the max number

6

In [79]:
print(min(4,6)) #finds min number

4

In [80]:
print(round(3.7))  #

4

In [86]:
from math import *  #to access the different math functions
import math as mm

In [84]:
print(ceil(3.2))  #finds the next number, whatever is the float number

4

In [87]:
print(sqrt(36))

6.0

In [90]:
import sys
sys.path

['',
 '/anaconda3/lib/python36.zip',
 '/anaconda3/lib/python3.6',
 '/anaconda3/lib/python3.6/lib-dynload',
 '/anaconda3/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages/aeosa',
 '/anaconda3/lib/python3.6/site-packages/torchvision-0.2.1-py3.6.egg',
 '/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/vkumar/.ipython']

Getting Input From Users

In [92]:
input()

"VV"

'"VV"'

In [95]:
name = input("Enter your name: ")

Enter your name: Vin

In [96]:
print("Hello" + name + "!")

HelloVin!

In [97]:
age=input("age please")

age please40

In [101]:
print("Hello" + name + "! You are " + age)

HelloVin! You are 40

Building a Basic Calculator

In [107]:
num1=input("Enter a number:")
num2=input("Enter a number:")
result=float(num1)+float(num2)
print(result)

Enter a number:3
Enter a number:3
6.0

Mad Libs Game

In [114]:
size=input("Enter the size of your brain:")
iq=input("Enter your IQ:")
name=input("Enter your Name:")

print("Hello "+name)
print(size + " with a brain size of ")
print("and the coolest iq of "+ iq)

Enter the size of your brain50
Enter your IQ50
Enter your Namevin
Hello vin
50 with a brain size of
and the coolest iq of 50

# Lists

workng with Lists in python. 
managing large amount of the data
like structure: put bunch of related values
with square brackets (python knows that it is list)

In [125]:
friends = ["Mohit","Aygul","Ram"]

In [120]:
friends

['Mohit', 'Aygul', 'Ram']

In [123]:
print(friends[0])

Mohit

In [126]:
print(friends[1])

Aygul

In [127]:
print(friends[-1]) #from backwards

Ram

In [128]:
print(friends[1:]) #from backwards

['Aygul', 'Ram']

In [130]:
print(friends[1:2]) #from backwards

['Aygul']

Lists are invalues , they can contains millions of the data points

In [143]:
lucky_numbers=[4,5,6,7,8,9]
friends=["Kevin","Karen","Jim","Oscar","Ram",]
friends.extend(lucky_numbers)
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Ram', 4, 5, 6, 7, 8, 9]

In [148]:
lucky_numbers=[4,5,6,7,8,9]
friends=["Kevin","Karen","Jim","Oscar","Ram",]
friends.append("Creed")
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Ram', 'Creed']

In [149]:
friends.insert(1,"Anna")
friends

['Kevin', 'Anna', 'Karen', 'Jim', 'Oscar', 'Ram', 'Creed']

In [150]:
friends.remove("Jim")
friends

['Kevin', 'Anna', 'Karen', 'Oscar', 'Ram', 'Creed']

In [157]:
print(friends.index("Ram"))

4

In [158]:
print(friends.count("Ram"))

1

In [160]:
friends.sort()
friends

['Anna', 'Creed', 'Karen', 'Kevin', 'Oscar', 'Ram']

In [161]:
lucky_numbers.sort()
lucky_numbers

[4, 5, 6, 7, 8, 9]

In [162]:
lucky_numbers.reverse()
lucky_numbers

[9, 8, 7, 6, 5, 4]

In [165]:
friends2=friends.copy()

In [166]:
friends2

['Anna', 'Creed', 'Karen', 'Kevin', 'Oscar', 'Ram']

Tuples (Very similar the list), Tuples can not be modified later on. remains as it is.

In [168]:
coordinates = (4,5)
print(coordinates[1])

5

In [170]:
#you can create also list of tuples
coordinates=[(4,5),(6,7),(30,30)]
coordinates

[(4, 5), (6, 7), (30, 30)]

#Tuples are a great add-on to the python repertoire.
#I can used, if something should not be changed

# Functions

In [172]:
def sayhi():
    print("Hello User")

In [173]:
sayhi()

Hello User

In [174]:
def sayhi(name):
    print("Hello" + name)

In [176]:
sayhi("Vin")

HelloVin

In [183]:
def sayhi(name, age):
    print("Hello" + name + ",you are" + str(age))

In [185]:
sayhi("vin",35)

Hellovin,you are35

Return Statement

In [190]:
def cube(num):
    return num*num*num
    
    
cube(3)

27

In [192]:
result=cube(4)
print(result)

64

# If Statements

In [193]:
is_male=True

In [194]:
is_male

True

In [195]:
if is_male:
    print("You are male")

You are male

In [196]:
is_male=False

In [197]:
if is_male:
    print("You are male")

In [199]:
if is_male:
    print("You are male")

In [202]:
if is_male:
    print("You are male")
else:
    print("You are not male")

You are not male

In [209]:
is_male=True
is_tall=False

In [204]:
if is_male or is_tall:
    print("you are male or tall or both")
else:
    print("You neighter male nor tall")

you are male or tall or both

In [205]:
if is_male and is_tall:
    print("you are male and tall ")
else:
    print("You neighter not male and neither tall")

you are male and tall

In [210]:
if is_male and is_tall:
    print("you are male and tall ")
elif is_male and not(is_tall):
    print("You are a short male") 
elif not(is_male) and is_tall:
    print("you are tall, but not male")
else:
    print("You neighter not male and neither tall")

You are a short male

If statemetents and Comparisons

In [211]:
def max_num(num1,num2,num3):
    if num1 >= num2 and num1 >=num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

In [212]:
print(max_num(3,4,5))

5

In [213]:
print(max_num(3,3,3))

3

Building a better Calculator:

In [224]:
#get input from the user
num1=float(input("Enter 1st number: "))
op=input("Enter the operator, choose from: add, mul, div, sub")
num2=float(input("Enter 1st number: "))

Enter 1st number: 5
Enter the operator, choose from: add, mul, div, subadd
Enter 1st number: 2

In [223]:
def do_stuff(num1,op,num3):
    if op=="add":
        return num1+num2
    elif op=="mul":
        return num1 * num2
    elif op=="div":
        return num1/num2
    elif op=="sub":
        return num1 - num2
    else:
        print("Not valid operator")

In [225]:
do_stuff(num1,op,num3)

7.0

In [226]:
do_stuff(10,"div",2)

5.0

# Dictionary

In [232]:
monthConversions={
    "Jan":"January",
    "Feb":"February",
    "Mar":"March",
    "Apr":"April",
    "May":"May",
    "Jun":"June",
    "Jul":"July",
    "Aug":"August",
    "Sep":"September",
    "Oct":"October",
    "Nov":"November",
    "Dec":"December",
}

In [237]:
print(monthConversions["Jan"])

January

In [239]:
print(monthConversions.get("Dec"))

December

In [240]:
print(monthConversions.get("Luv"))

None

Key can be also numbers

In [ ]:
monthConversions={
    0:"January",
    1:"February",
    2:"March",
    3:"April",
    4:"May",
    "Jun":"June",
    "Jul":"July",
    "Aug":"August",
    "Sep":"September",
    "Oct":"October",
    "Nov":"November",
    "Dec":"December",
}

# While Loop

now go to the next python_002.py